
.App {
  color: black;
  text-align: center;
}

.container {
  width: 400px;
  padding: 1rem;
  background-color: white;
}

.title-one {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.title-two {
  font-size: 17px;
  text-align: center;
}


