.App {
    color: black;
    text-align: center;
  }
  
  .container {
    width: 400px;
    padding: 1rem;
    background-color: white;
  }
  
  .snippet-list {
    list-style-type: none;
    padding: 0;
  }
  
  .snippet-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .snippet-item button {
    margin-left: 0.5rem;
  }